<html>
    <head>
        <img align="right" src="<%= URL %>/logo.jpg" >
    </head>
    <body>

        <p style="color: darkblue;">New Asset</p>
        
        <p style="color: red;">Remarks : <%= Remarks %></p>

        <p>
            <b>
                Regards,<br>LTC
            </b>
        </p>
    </body>
</html>