<html>
    <body>
        <p>Dear User,</p>
        <p style="margin-left:70px">Scheduler Name - <%= Schedulernaame %>.</p>
        <p style="margin-left:70px">Scheduler Status - <%= Status %>.</p>
        <p style="margin-left:70px">Scheduler RequestID - <%= RequestID %>.</p>
        <p style="margin-left:70px">Scheduler Date - <%= Date %>.</p>
        <p>Regards,<br>LTC</p>
    </body>
</html>